body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: @main-font-size;
    width: 100%;
    line-height: 1.5;
    box-sizing: border-box;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: @h3-size;
}


@media screen and (max-width: @mobile) {
    h1 {
        font-size: 2em;
    }

    body {
        
    }
    h3 {
        font-size: @h3-size-mobile;
    }
}
