.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 5%;
    border-top: 2px solid @grey;

    &__item {
        width: calc(33% - 7%);
    }

}